* {
  box-sizing: border-box;
}

body {
  background-color: #F9F9F4;
}

.container-fluid {
  max-width: 1400px;
}

header {  
  background-color: black;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,.7);
}

nav {
  min-height: 38px;
}

footer {
  background-color: black;
  min-height: 38px;
}

h1 {
  font-family: 'Kumar One';
  font-size: 3rem;
  text-transform: uppercase;
  margin-bottom: 20px;
}

h2 {
  color: #B5B5A6;
  font-family: 'Kumar One';
  font-size: 2.5rem;
  text-align: center;
  text-transform: uppercase;
}

hr {
  margin: 0px, 5%, 0px, 5%;
  background-color: #555353;
  height: 1px;
  border: 0; 
  max-width: 90%
}

h3 {
  font-family: 'Gravitas One';
  font-size: 1.1rem;
  color: #2B77BC;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.about-me {
  margin-top: 40px;
  padding-top: 40px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}

.about-me__text {
  padding-top: px;
  padding-bottom: 20px;
}

p {
  font-family: 'Petrona';
  font-size: 1rem;
  color: #696868;
  letter-spacing: .07rem;
  padding-bottom: 40px;
  line-height: 1.3rem;
}

img {
    width: 100%;
  }

.post__image--border {
  border-top: 15px solid #B5B5A6;
}


.post {
  position: relative;
  margin-top: 60px;
}

.post__image {
  margin-top: -12px;
  padding: 0;
}

.post__text-box {
  background-color: #F9F9F4;/*
  box-shadow: 1px 1px 1px 1px rgba(0,0,0,.04);*/
  margin-bottom: 80px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: -30px;
  opacity: .0;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 40px;
  padding-bottom: 10px;
  position: relative;
}

.post_text-box--fade-in {
  opacity: 1;
  transition: all 650ms ease-in;
}


.moon-picture-background {
  position: absolute;
  top: 500px;
  z-index: -1;
  background-color: #E6E6E2;
  height: 650px;
  width: 100%;
}

.moon-img-wrapper {
  left: -60px;
  max-width: 50%;
  position: absolute;
  opacity: .7;
  top: 300px;
}


@media only screen and (min-width: 768px) {

  h1 {
    font-size: 7rem;
    letter-spacing: -.6rem;
    margin-top: -7px;
  }  

  h2 {
    font-size: 5rem;
    letter-spacing: -.2rem;
    text-align: center;
  }

  p {
    font-size: 1.2rem;
    letter-spacing: .1rem;
  }

  .post__image {
    margin-top: -23px;
    padding: 0;
  }

  .moon-img-wrapper {
  left: -5%;
  max-width: 275px;
  position: absolute;
  top: 300px;
}

  .moon-picture-background {
  top: 600px;
  height: 900px;
  width: 100%;
}

  .second-post--sm-md {
  margin-top: 100px;
  }

}

@media only screen and (min-width: 992px) {

}

@media only screen and (min-width: 1200px) {

  h1 {
    font-size: 7rem;
    letter-spacing: -.6rem;
  }

  h2 {
    letter-spacing: -.1rem;
    font-size: 5.5rem;
    text-align: left;
  }

  p {
    font-size: 1.3rem;
    letter-spacing: .15rem;
  }

  
  .about-me {
    padding-top: 80px;
    padding-bottom: 60px;
    display: flex;
    justify-content: flex-start;
    text-align: left;
  }

  .about-me__text {
    float: right;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-left: 10%;
    margin-top: -20px;
    max-width: 50%;
  }

  .post__image {
    margin-top: -25px;
    padding: 0;
  }

  .post-container {
    position: relative;
  }

  .post__text-box {
    position: relative;
    top: 0;
    left: 0;
    margin-left: 8%;
    margin-right: 8%;
    width: 84%;
    height: 258px;
    margin-top: -60px;
    margin-bottom: 100px;
    padding-top: 40px;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 20px;
    z-index: 1;
  }

  .post-border {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 84%;
    height: 258px;
    margin-left: 8%;
    margin-right: 8%;
    background: url(../images/tile-10px.png) repeat;
    opacity: .5;
  }

  .moon-img-wrapper {
  left: 150px;
  max-width: 300px;
  position: absolute;
  top: 400px;
}

  .moon-picture-background {
  top: 600px;
  height: 1100px;
  width: 100%;
}
 
  .second-post--sm-md {
    margin-top: 140px;
  }

}


